{{#extends "base"}}
{{#block "content"}}
<h1>Welcome to Just Solutions, your one-stop shop for all your gardening supply needs</h1>
<hr>
<h2>Search for Product</h2>
<form method = "GET">
    {{{form}}}
    <input type="submit" class="btn btn-primary mt-3"/>
</form>
<h1>        </h1>
<h2>Products</h2>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Cost</th>
            <th>Product Specs</th>
            <th>Unit of Measurement</th>
            <th>Categories</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each products}}
        <tr>
            <td>{{this.name}}</td>
            <td>{{this.cost}}</td>
            <td>{{this.product_specs}}</td>
            <td>{{this.uom.name}}</td>
            <td>
                {{#each this.categories}}
                    <span class="badge bg-info text-dark">{{this.name}}</span>
                {{/each}}
            </td>
            <td>
                <a href="/cart/{{this.id}}/add" class="btn btn-success">Add To Cart</a> 
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{/block}}
{{/extends}}