{{#extends 'base'}}
{{#block 'content'}}
<h1>Shopping Cart</h1>
<a href="/checkout" class="btn btn-primary mb-3">Checkout</a>
<ul class="list-group">
    {{#each cartItems}}
    <li class="list-group-item">
        <h4>{{this.product.name}}</h4>
        <h5>Category:
            {{#each this.product.categories}}
            <span class="badge bg-info text-dark">{{this.name}}</span>
            {{/each}}
        </h5>
        <h5>Cost: {{this.product.cost}}</h5>
        <h5>Quantity:
            <form method="POST" style="display:inline-block" action="/cart/{{this.product.id}}/updateCartQuantity">
                <input type="hidden" name="_csrf" value="{{../csrfToken}}" />
                <input type="number" value="{{this.quantity}}" name="newQuantity" style="width:50px" min="1" required />
                <input type="submit" class="btn btn-primary btn-sm" value="Update" />
            </form>
        </h5>
        <a href="/cart/{{this.product.id}}/remove" class="btn btn-danger">Remove</a>
    </li>
    {{/each}}
</ul>
{{/block}}
{{/extends}}